@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.app-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-area {
    margin-left: 5rem;
    margin-top: 8rem;
}

.response-options {
    padding-left: 0rem;
}

.suggestion {
    border-radius: 30px;
    padding: 1rem;
    margin: 1rem;
    width: fit-content;
    border: 2px solid;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    transition: box-shadow 0.2s ease-in-out;    
}


.understand {
    background-color: #CCFFED;
    border-color: #00EFA7;
}

.understand:hover {
    background-color: #67FFC8;
}

.confused {
    background-color: #F4E5FF;
    border-color: #DFABFF;
}

.confused:hover {
    background-color: #E8CAFF;
}

label {
    font-size: 30px;
    font-weight: 700;
}

.chat-area {
    margin-left: 10rem;
}

.chat-name {
    font-size: 50px;
    font-weight: 700;
}

.messages {
    height: 30rem;
    overflow-y: scroll;
    overflow-x: wrap;
}

.mine-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.theirs-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.message {
    width: fit-content;
    padding: 1rem;
    border-radius: 2rem;
}

.mine {
    background-color: blue;
}

.theirs {
    background-color: orange;
}

footer {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
